<!DOCTYPE html>
<html>
    <head>
        <title>Agregar Categorias</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="C:\Users\Pablo\Documents\NetBeansProjects\MIPROYECTO\assets\css\estilos.css">
    </head>
    <body>
        <form method="post" id="formulario_categorias">
            <h2>Formulario de alta y baja de categorias</h2>
            <p>
                <LABEL for="nombre">ID Categoria </LABEL>
                          <INPUT type="text" id="id_categoria"><BR>
                <LABEL for="nombre">Categoria: </LABEL>
                          <INPUT type="text" id="categoria"><BR>
                <LABEL for="apellido">Descripcion: </LABEL>
                          <INPUT type="text" id="descripcion"><BR>
            </p>
            <div>
                <button onclick="validarCategorias()" type="submit" name="Guardar">Guardar</button> <button type="submit" name="Cancelar">Cancelar</button>
            </div>
                
        </form>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="C:\Users\Pablo\Documents\NetBeansProjects\MIPROYECTO\assets\js\validacionesCategorias.js"></script>
    </body>
</html>
